extends layout
block page
  - var menu = 'Error'
block content
  div
   include includes/menujapo
  div.jumbotron
        div.container
          h1 Pagina no encontrada!
          p Lo sentimos la pagina que desea ingresar no existe no se encuentra =(
